<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form th:action="@{/logincheck}" method="post">


        E-MAIL : <input type="text" name="email" /><br/>
        PASSWORD : <input type="password" name="password"/><br/>
        <input type="submit" value="제출" />
    </form>

    <a href="/registuser">회원가입</a>

    <script th:inline="javascript">
        var message = [[${loginerr}]];
        console.log(message);
        if (message !== null){
            alert(message);
        }
    </script>
</body>
</html>