<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h1>남의페이지</h1>
<div th:switch="${relation}">
    <p th:case="full">친구입니다.</p>
    <a th:case="request">친구요청중입니다.</a>
    <form th:case="confirm" th:action="'/others/'+${user.no}+'/friendconfirm'" method="post">
        <input type="submit" value="친구수락" />
    </form>
    <form th:case="*" th:action="'/others/'+${user.no}+'/friendrequest'" method="post">
        <input type="submit"  value="친구추가"/>
    </form>
</div>

<div th:text="${user.name}"></div>
<form th:action="'/others/'+${user.no}+'/savecontentinothers'" method="post">
    <textarea type="text" name="content" style="resize: none; width: 300px; height: 130px"/>
    <input type="submit" value="등록"/>
</form>

<div>
    <div data-th-each="resultlist : ${result}" class="content">
        <img th:src="${resultlist.user.photo}" width="70px" height="70px"/>
        <a th:href="'/others/'+${resultlist.user.no}" data-th-text="${resultlist.user.name}"></a>
        <div data-th-text="${resultlist.contents}"></div>
        <div data-th-each="comment : ${resultlist.comments}" style="border: 1px blue dotted">
            <img th:src="${comment.user.photo}" width="35px" height="35px"/>
            <a th:href="'/others/'+${comment.user.no}" data-th-text="${comment.user.name}"></a>
            <div data-th-text="${comment.text}"></div>
        </div>
        <div>
            <form action="commentsave" method="post">
                <input type="hidden" th:name="content" th:value="${resultlist.no}"/>
                <input type="text" name="text"/>
                <input type="submit" value="답글"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>